@model GetMemberItemVM

<link rel="stylesheet" href="~/assets/css/members.css">
<div class="topbar">


    <a class="btn btn-dark" asp-action="ClassRoom" asp-controller="Class"
                            asp-route-id="@Context.Request.Query["classRoomId"]">Back</a>
    <div class="h1">Members</div>
</div>

<div class="card" style="width:600px">
    <div class="h2">Teachers</div>
    <div class="line"></div>

    <div class="m-list">     
        @foreach (GetTeacherItemVM teacherVM in Model.Teachers)
        {
            <div class="m-row">
                <div>
                    <div class="name">@teacherVM.Name @teacherVM.Surname</div>
                </div>
                <div class="actions">
                    <span class="badge teacher">Teacher</span>
                </div>
            </div>
        }
    </div>

    <div class="line"></div>

    <div class="h2">Students</div>
    <div class="line"></div>

    <div class="m-list">
        @foreach(GetStudentItemVM studentVM in Model.Students)
        {
            <div class="m-row">
                <div>
                    <div class="name">@studentVM.Name @studentVM.Surname</div>
                    <div class="muted">Joined: @studentVM.JoinedAt.ToShortDateString()</div>
                </div>
                <div class="muted">Avg: @studentVM.AvgPoint %</div>
                <div class="actions">
                    <a class="btn ok" asp-action="Put" asp-route-studentId="@studentVM.Id"
                       asp-route-classRoomId="@Context.Request.Query["classRoomId"]">Promote</a>
                    <a class="btn danger" asp-action="Delete" asp-route-studentId="@studentVM.Id"
                       asp-route-classRoomId="@Context.Request.Query["classRoomId"]">Kick</a>
                </div>
            </div>
        }
    </div>
</div>

<div class="toast" id="toast"><div class="t" asp-validation-summary="ModelOnly"></div><div class="d"></div></div>

<script src="~/assets/js/members.js"></script>
