@model ICollection<GetSimpleStudentItemVM>
@{
    int index = 0;
    string targetController = Context.Request.Query.ContainsKey("quizId") ? "QuizAnswer" : "TaskWork";
    string targetAction = Context.Request.Query.ContainsKey("quizId") ? "Index" : "Evaulate";
}


<title>Student List</title>
<link rel="stylesheet" asp-append-version="true" href="~/assets/css/list.css" />
<div class="student-list-wrapper"> 
    <div class="container student-list">
        <h2>Student List</h2>

        <table>
            <thead>
                <tr>
                    <th class="index">#</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (GetSimpleStudentItemVM stItem in Model)
                {
                    index++;
                    <tr>
                        <td class="index">@index</td>
                        <td class="student-name">@stItem.Name</td>
                        <td>@stItem.Surname</td>
                        <td>
                            <a class="btn-info"
                               
                               asp-controller="@targetController"
                               asp-action="@targetAction"
                               asp-route-classRoomId="@Context.Request.Query["classRoomId"]"
                               asp-route-studentId="@stItem.Id"
                               asp-route-quizId="@Context.Request.Query["quizId"]"
                               asp-route-taskWorkId="@Context.Request.Query["taskWorkId"]">
                                ➔
                            </a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>