@model IEnumerable<GetQuizItemVM>

<link rel="stylesheet" href="~/css/quiz-list.css">

<div class="topbar">

    <div class="nav quiz-toolbar">
        <div>
            <a class="btn" asp-controller="Class" asp-action="ClassRoom" asp-route-id="@Context.GetRouteValue("id")" >-->Class</a>
        </div>

        <div class="field-inline">
            <span class="muted">Search</span>
            <input class="input" id="qSearch" placeholder="Məs: TCP Basics" />
        </div>

        <div class="field-inline">
            <span class="muted">Sort</span>
            <select class="input" id="qSort">
                <option value="start_asc">Start time ↑</option>
                <option value="start_desc">Start time ↓</option>
                <option value="name_asc">Name A→Z</option>
                <option value="name_desc">Name Z→A</option>
            </select>
        </div>
    </div>
</div>

<div class="card" style="margin-top:16px">
    <div class="h2">Quiz list</div>
    <div class="line"></div>

    <div class="quiz-grid" id="quizGrid">

        @foreach (GetQuizItemVM quiz in Model)
        {
            <a class="quiz-card" href="quiz-detail.html">
                <div class="qc-top">
                    <div class="qc-name">@quiz.Name</div>
                </div>

                <div class="qc-meta">
                    <div class="qc-row">
                        <span class="muted">Start</span>
                        <strong class="qc-start" data-start="@quiz.StartTime">@quiz.StartTime</strong>
                    </div>
                    <div class="qc-row">
                        <span class="muted">Duration</span>
                        <strong class="qc-duration" data-min="@quiz.Duration">@quiz.Duration Min</strong>
                    </div>
                </div>

                <div class="qc-actions">
                    <span class="btn ok">Open</span>
                </div>
            </a>
        }
    </div>

    <div class="empty" id="qEmpty" style="display:none;">
        Heç bir quiz tapılmadı.
    </div>
</div>
<script src="~/js/quiz-list.js"></script>


