@model DashboardVM


<link rel="stylesheet" href="~/assets/css/dashboard.css">

<div class="row" style="display:flex">
    <form method="post" asp-action="CreateClassRoom" class="card col">
        <div>
            <div class="h2">Create Class</div>
            <div class="label">Class name</div>
            <input class="input" asp-for="PostClass.Name" id="className" placeholder="Məs: Network 101" />
            <div style="margin:8px"><span asp-validation-for="PostClass.Name"></span></div>
            <button type="submit" class="btn primary" id="btnCreate" style="margin-top:12px">Create</button>
        </div>
    </form>
    <form class="card col" asp-action="JoinClassRoom" method="post">
        <div>
            <div class="h2">Join Class (Student)</div>
            <div class="label">Class code</div>
            <input class="input" id="classCode" asp-for="@Model.JoinClass.ClassKey" placeholder="Məs: A7K2Q9" />
            <div style="margin-top:10px">
                <span asp-validation-for="JoinClass.ClassKey"></span>
            </div>
            <button class="btn ok" id="btnJoin" style="margin-top:12px">Join</button>          
        </div>
    </form>

</div>

<div class="card" style="margin-top:16px">
    <div class="h2">My Classes</div>

    <div class="line"></div>

    <div class="swiper mySwiper">
        <div class="swiper-wrapper" >
            @foreach (GetClassRoomItemVM classRoom in Model.Classes)
            {
                <div class="swiper-slide" >
                    <div class="class-card">                       
                        <a asp-action="ClassRoom" asp-route-id="@classRoom.Id" class="card-link">
                            <div class="card-content" style="margin-top:10px">                            
                                <div class="title">@classRoom.Name</div>

                                <div style="margin-top:6px;display:flex">
                                    Teachers: 
                                    @foreach (string teacherN in classRoom.TeacherFullNames)
                                    {
                                        <div style="margin:0 3px">
                                            <span class="badge-custom">
                                                <i class="fas fa-users"></i> @teacherN
                                            </span>
                                        </div>
                                    }
                                </div>                                
                                <div class="meta" style="margin:13px 0">
                                    <div>
                                        Member Count:
                                        <span class="badge-custom">
                                            <i class="fas fa-users"></i> @classRoom.StudentCount
                                        </span>
                                    </div>
                                  
                                    <span class="point-muted">
                                        <i class="fas fa-chart-line"></i> @((classRoom.AvgPoint*100).ToString("0.##")) %
                                    </span>
                                </div>                             
                            </div>
                            <div>Created At: @classRoom.CreatedAt.ToShortDateString()</div>
                          
                        </a>
                    </div>
                </div>
            }
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div asp-validation-summary="ModelOnly"></div>
    </div>
   
</div>

<div class="toast" id="toast"><div class="t"></div><div class="d"></div></div>


<script src="~/assets/js/dashboard.js"></script>
