@model StudentAttendanceVM

<meta charset="UTF-8">
<title>Student Attendance</title>
<link rel="stylesheet" href="~/assets/css/attendance.css">

<div class="container">
    <div class="attendance-table">
        <form method="post" asp-action="Create" asp-route-classRoomId="@Context.GetRouteValue("classRoomId")">
            <div class="topbar">
                <div>
                    <a class="btn btn-dark" asp-action="GetAll" asp-route-classRoomId="@Context.GetRouteValue("classRoomId")">History</a>
                    <a class="btn btn-dark" asp-action="ClassRoom" asp-controller="Class" asp-route-id="@Context.GetRouteValue("classRoomId")">Back</a>
                </div>

                <h2>Attendance Panel</h2>          
                <div class="date-box">
                    <label>Lesson Date</label>
                    <input type="date" required id="lessonDate">
                </div>
            </div>
            @for (int i = 0; i < Model.StudentVMs.Count; i++)
            {
                <div class="student-row" style="padding: 8px 15px;">
                    <input type="hidden"
                           asp-for="AttendanceVMs[i].StudentId" value="@Model.StudentVMs[i].Id" />

                    <input type="hidden"
                           asp-for="AttendanceVMs[i].Attendance"
                           class="att-input"/>

                    <span>@Model.StudentVMs[i].Name @Model.StudentVMs[i].Surname</span>

                    <div>
                        <button type="button" class="att-btn" style="background-color:#5C9648" data-value="1">Present</button>
                        <button type="button" class="att-btn" style="background-color:#FCA130" data-value="0">Absent</button>
                        <button type="button" class="att-btn" style="background-color:#49CC90" data-value="2">Late</button>
                    </div>
       
                </div>
                <input type="hidden" asp-for="AttendanceVMs[i].ClassRoomId" value="@Context.GetRouteValue("classRoomId")" />
                <input type="hidden" class="attendance-date-hidden" asp-for="AttendanceVMs[i].LessonDate" />
            }
            <div class="footer">
                <button class="save-btn">Save Attendance</button>
            </div>
            <div asp-validation-summary="ModelOnly"></div>
        </form>
    </div>
</div>
<script defer src="~/assets/js/attendance.js"></script>
