@model ICollection<GetQuizAnswerItemVM>
@{
    int index = 0;
}

<link rel="stylesheet" href="~/css/list.css">
<div class="container" style="border:none">
    <h2>Evaluated Questions</h2>

    <table>
        <thead>
            <tr>
                <th class="index">#</th>
                <th>Title</th>
                <th>Evaluated</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (GetQuizAnswerItemVM qAnswer in Model)
            {
                index++;
                <tr>
                    <td class="index">@index</td>
                    <td class="name">@qAnswer.QuestionTitle</td>
                    <td class="name">@(qAnswer.IsEvaluated ? "✅" : "❌")</td>
                    <td class="name"><a asp-action="GetById" asp-route-classRoomId="@ViewContext.RouteData.Values["classRoomId"]"          
                                                             asp-route-studentId="@ViewContext.RouteData.Values["studentId"]"
                                                             asp-route-quizId="@ViewContext.RouteData.Values["quizId"]"
                                                             asp-route-id="@qAnswer.Id">➔</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

